*{
    margin: 0;
    padding: 0;
}

/* Estilo barra de anuncios */
.barraanuncios {
    background-color: black; 
    color: white;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.625rem 0;
    font-size: 1.5rem; 
}

/* Estilo rrss (primeras 3 columnas de la barra de anuncios) */
.rrss-iconos {
    color: white;
    display: inline-flex; 
    justify-content: center;
    align-items: center;
    margin-right: 0.625rem;
    width: 1.875rem;
    height: 1.875rem;
    background-color: transparent;
    transition: background-color 0.3s ease, color 0.3s ease;
    position: relative; 
}

.rrss-iconos i {
    font-size: 1.3rem; 
    color: #ffffff; 
    transition: color 0.3s ease;
}

.rrss-iconos:hover i {
    color: #9c7945; 
}

.rrss-iconos:hover::after {
    content: ""; 
    position: absolute;
    bottom: 0; 
    left: 0;
    width: 100%; 
    height: 0.0625rem;
    background-color: #9c7945; 
    transition: all 0.3s ease; 
}

/* Estilo para el carrusel de anuncios (las 6 columnas de la barra de anuncios) */
.carousel-text {
    text-decoration: underline;
    color: #ffffff; 
    font-size: 1.1rem; 
    margin-bottom: 0; 
    cursor: pointer; 
}

.carousel-link {
    text-decoration: none; 
    display: inline-block; 
}

.carousel-link:hover .carousel-text {
    color: #9c7945; 
    text-decoration: underline;
}

/* Estilo mini-menu (las ultimas 3 columnas de la barra de anuncios) */
.mini-menu {
    text-decoration: none; 
    color: white; 
    font-size: 1.1rem; 
    transition: color 0.3s ease, background-color 0.3s ease; 
}
  
.mini-menu p {
    margin: 0; 
    color:white;
}
  
.mini-menu:hover {
    color: #9c7945; 
}
  
.mini-menu:hover p {
    text-decoration: underline;
    color: #9c7945;
}

/* Estilo navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.9375rem 1.25rem; 
}

.navbar.bg-transparent {
    background-color: rgba(0, 0, 0, 0.5) !important; 
}

.navbar .nav-link,
.navbar .navbar-brand img {
    color: #fff; 
}

.navbar .navbar-brand img {
    max-height: 3.125rem; 
}

.nav-link:hover {
    color: #9c7945 !important;
    font-weight: bold;
    text-decoration: underline; 
}

.dropdownColor{
    background-color: #212529;
}

.dropdown-item{
    color: black;
    transition: font-weight 0.2s ease;
}
.dropdown-item:hover{
    background-color: transparent;
    color: #9c7945;
    font-weight: bold;
    text-decoration: underline; 
}/* Estos tres dropdowns son para arreglar los colores y cambios del dropdown "Catálogo" */

/* Estilo para el botón banner*/
.btn-custom {
    font-size: 1.1rem;
    padding: 0.8rem 2rem; 
    border: 2px solid #D4AF37; 
    background-color: transparent;
    color: #D4AF37;
    border-radius: 0px; 
    transition: all 0.3s ease;
}

.btn-custom:hover {
    color: white; 
    transform: scale(1.1); 
    box-shadow: 0 0 10px rgba(212, 175, 55, 0.6); 
}

/* Estilo para los iconos del buscador, carro y cuenta */
.icon-group {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem; 
    position: relative; 
}
  
.icon-group i {
    color: white;
    position: relative;
    font-size: 1.5rem; 
    cursor: pointer; 
    transition: color 0.3s, background-color 0.3s;
}
  
.icon-group i:hover {
    color: #9c7945; 
    text-decoration: underline; 
    padding: 0; 
    border-radius: 0; 
}

.icon-group i:hover::after {
    content: ""; 
    position: absolute;
    bottom: 0; 
    left: 0;
    width: 100%; 
    height: 0.0625rem;
    background-color: #9c7945; 
    transition: all 0.3s ease; 
}

/* Buscador */
.search-input {
    display: none;
    width: 150px;
    transition: all 0.3s ease;
}

.search-input.active {
    display: inline-block;
    color: white;
}

.search-link:hover i,
.cart-link:hover i,
.user-link:hover i {
    color: #9c7945 
}

/* Estilo ventana lateral carrito de compra*/
.custom-offcanvas {
    background-color: #111; 
    color: #fff;
}
  
.custom-offcanvas .offcanvas-header {
    border-bottom: none;
}
  
.custom-offcanvas .btn-close {
    filter: invert(1);
}
  
.custom-offcanvas h3 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}
  
/* Estilo para el botón-Seguir comprando- */
.custom-offcanvas .btn-outline-light {
    border-color: #fff;
    color: #fff;
}
  
.custom-offcanvas .btn-outline-light:hover {
    background-color: #fff;
    color: #111;
}
  
.custom-offcanvas .link-highlight {
    color: #ffd700;
    font-weight: bold;
    text-decoration: none;
}
  
.custom-offcanvas .link-highlight:hover {
    color: #fff;
    text-decoration: underline;
}
  
.custom-offcanvas .offcanvas-body p {
    margin-top: 1rem;
    font-size: 1rem;
}  
  
/* Estilo banner video*/
.video-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
    margin-top: 0; 
}

.video-container video {    
    object-fit: cover; 
}

/*Carrusel texto*/
.carousel-container {
    position: relative;
    height: 6.25rem;  
    overflow: hidden;
    background-color: white; 
    display: flex;
    align-items: center;
}

.carousel-content {
    display: flex;
    white-space: nowrap;
    animation: scroll 15s linear infinite; 
    font-size: 1.875rem;
    font-weight: 900; 
}

.carousel-content span {
    margin: 0 3.125rem;
    text-transform: uppercase;
    letter-spacing: 0.125rem;
    font-family: 'Arial', sans-serif;
}

.carousel-content span:nth-child(2n) {
    font-weight: 400; 
    color: black;
}

.carousel-content span:nth-child(2n+1) {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}

.icon-star {
    margin: 0 1.25rem;
    font-size: 2.25rem; 
    font-family: Arial, Helvetica, sans-serif;
    color: black; 
}

.carousel-container::before,
.carousel-container::after {
    content: '';
    position: absolute;
    top: 0;
    width: 3.125rem;
    height: 100%;
    z-index: 2;
    pointer-events: none;
    background: linear-gradient(to right, #fff 0%, rgba(255, 255, 255, 0) 100%);
}

.carousel-container::after {
    right: 0;
    transform: rotate(180deg);
}

.carousel-container::before {
    left: 0;
}

/* Animación */
@keyframes scroll {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
}

/* Estilo contenedor texto1 y texto2 */
.text-section {
    width: 100%;
    height: auto;
    background-color: #F3F3F3; 
    padding: 2rem 0; 
}

.text-section .card {
    border: none;
    background-color: transparent;
    box-shadow: none;
}

.text-section .card-title {
    font-size: 2rem; 
    color: black;
    margin-bottom: 1rem; 
}

.text-section .card-text {
    font-size: 1.5rem;
    color: black; 
    margin-bottom: 0; 
    line-height: 1.8; 
}

@media (max-width: 900px) {
    .text-section .card-title {
        font-size: 1.8rem; 
    }

    .text-section .card-text {
        font-size: 1.2rem; 
    }
}

/* Estilo de las Novedades (circulos) */
.deal-container {
    width: 100%;
    height: auto;
    background-color: #F3F3F3;
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 25px; 
}

.novedades-title {
    font-size: 2rem;
    font-weight: bold;
    position: relative;
    display: inline-block;
    opacity: 0;
    animation: appearAndAssemble 3s ease-in-out infinite;
}

@keyframes appearAndAssemble {
    0% {
        opacity: 0;
        letter-spacing: 1rem; 
        transform: scale(0.8); 
    }
    50% {
        opacity: 1;
        letter-spacing: 0.3rem; 
        transform: scale(1.1); 
    }
    100% {
        opacity: 0; 
        letter-spacing: 1rem; 
        transform: scale(0.8); 
    }
}

.deal-item {
    text-align: center;
    flex: 1 1 calc(25% - 20px); 
    max-width: 300px; 
}

.circle-icon {
    width: 300px;
    height: 300px;
    border-radius: 50%; 
    background-color: #f8f9fa;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    overflow: hidden; 
    transition: transform 0.3s ease-in-out;
}

.circle-icon:hover {
    transform: scale(1.1); 
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); 
}

.circle-icon img {
    width: 100%; 
    height: 100%;
    object-fit: cover; 
    border-radius: 50%; 
}

h5 {
    font-size: 1rem;
    font-weight: 600;
}

.deal-link {
    color: #6c757d;
    font-size: 0.9rem;
    font-weight: 500;
    text-decoration: none;
}

.deal-link:hover {
    color: black;
    text-decoration: underline;
}

.carousel-inner img {
    border-radius: 10px; 
    object-fit: cover; 
    height: 500px; 
}

.carousel-indicators button {
    background-color: black;
    border: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}

/* Estilo Producto individual 1 y 2*/
h2 {
    font-size: 2rem;
    font-weight: bold;
}
  
h4.text-muted del {
    color: gray;
    font-size: 1rem;
}
  
.input-group .btn {
    font-size: 1.1rem;
    font-weight: bold;
}
  
.btn-dark,
.btn-outline-dark {
    border-radius: 0;
    padding: 10px 20px;
}
  
p.text-success {
    font-weight: bold;
}
  
.shop-btn {
    background-color: black;
    color: #fff;
    padding: 10px 20px;
    border: none;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}
  
.shop-btn:hover {
    color: white; 
    transform: scale(1.1); 
    box-shadow: 0 0 10px rgba(212, 175, 55, 0.6); 
}
  
/* Estilo temporizador */
.temporizador-tmp {
    position: relative;
    height: 250px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; 
}

.temporizador-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: 1;
}

.temporizador-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 2;
}

.temporizador-content {
    position: relative;
    z-index: 3; 
    text-align: center;
}

.countdown-timer {
    font-size: 4rem;
    font-weight: bold;
}

.countdown-label {
    font-size: 1rem;
    margin-top: -10px;
}

/* Estilo Descubre más*/
.discovers-section {
    text-align: center;
    margin-top: 50px;
    color: #000;
}
.discovers-image img {
    max-width: 100px;
    margin-bottom: 20px;
}

.discovers-title {
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1.5;
}

.discovers-subtitle {
    font-size: 1rem;
    color: #666;
    margin-bottom: 30px;
}

.btn-discover {
    border: 1px solid black;
    background-color: transparent; 
    color: black; 
    padding: 10px 40px; 
    border-radius: 0; 
    font-size: 1rem; 
    font-weight: 600; 
    transition: all 0.3s ease; 
}

.btn-discover:hover {
    background-color: black;
    color: white; 
    transform: scale(1.1); 
    box-shadow: 0 0 10px rgba(212, 175, 55, 0.6); 
}

/* Estilo banner integrado*/
.high-quality {
    background-image: url("../Imagenes/ORIGINALITY-HIGH\ QUALITY.jpg"); 
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 80vh;
    position: relative;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estilo productos fila1 y fila2 */
.container-products {
    display: flex; 
    flex-wrap: wrap; 
    gap: 20px; 
    justify-content: center;
}

.product {
    position: relative;
    width: 250px; 
    height: 350px; 
    overflow: hidden; 
    margin-bottom: 20px; 
    background-color: #f9f9f9; 
    border-radius: 10px; 
}

.product__img,
.product__img-hover {
    width: 100%; 
    height: 250px; 
    object-fit: cover; 
    transition: opacity 0.3s ease; 
}

.product__img-hover {
    position: absolute; 
    top: 0; 
    left: 0; 
    opacity: 0; 
    z-index: 1; 
}

.product:hover .product__img-hover {
    opacity: 1; 
}

.product:hover .product__img {
    opacity: 0; 
}

.product__title {
    font-size: 1.1rem;
    font-weight: bold;
    margin: 25px 0 5px;
    text-align: center;
    color: black;
}

.product__price {
    font-size: 1rem;
    color: #777;
    text-align: center;
    display: block;
}

.btn-product {
    display: block;
    width: 100%;
    margin-top: 10px;
    padding: 10px 15px;
    border-radius: 0;
    border: 1px solid black;
    background-color: transparent;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-product:hover {
    background-color: black; 
    color: white; 
}

/* Estilo Rebajas de invierno */
.sale-section {
    padding: 50px 0; 
}

.sale-container {
    background-color: #dfac60;
    padding: 40px 40px; 
    display: flex;
    align-items: center;
}

.sale-title {
    font-size: 48px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-align: left;
}

.sale-divider {
    border-left: 1px solid #999; 
    height: 100px;
    margin: 0 30px;
}

.sale-text {
    font-size: 16px;
    color: #333;
}

/* Estilo banner pequeño */
.banner {
    background-image: url("../Imagenes/Lige.png"); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    width: 100%; 
    height: 70vh; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

/* Estilo para las 3 tarjetas */
.bg-light-gray {
    background-color: #F3F3F3;
    padding-bottom: 25px; 
}

.card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-img-top1 {
    object-fit: cover;
    height: 100vh;
}

.card-body {
    flex-grow: 1;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

/* Estilo para la banda */
.custom-carousel-container {
    width: 100%; 
    background-color: #9c7945; 
    background-image: repeating-linear-gradient(
      55deg,
      rgba(255, 255, 255, 0.9) 0px,
      rgba(255, 255, 255, 0.9) 2px,
      transparent 2px,
      transparent 4px
    );
    padding: 10px 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.custom-carousel-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    white-space: nowrap; 
    animation: custom-scroll 15s linear infinite;
}

.custom-carousel-content span {
    font-size: 1.5rem; 
    font-weight: bold;
    color: #b38857; 
    margin: 0 10px;
}

.custom-carousel-content span:nth-child(2n) {
    font-weight: 400; 
    color: black;
}

.custom-carousel-content span:nth-child(2n+1) {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}

.custom-icon-large {
    font-size: 30px; 
    color: #ffd700; 
}

@keyframes custom-scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%); 
    }
}

/* Sección descripción tipos reloj */
.overlay {
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
  
.card:hover .overlay {
    opacity: 1;
}
  
.card-img-top {
    object-fit: cover;
    height: 100vh;
    transition: transform 0.3s ease-in-out;
}
  
.card:hover .card-img-top {
    transform: scale(1.1);
}

.custom-btn-2 {
    border-radius: 0;
    padding: 15px 30px;
}

/* Estilo Tipos de Relojes*/
.text-hover h2, 
.text-hover p {
  transition: color 0.3s ease, transform 0.3s ease;
  color: black; 
}

/* Efecto hover */
.text-hover:hover h2 {
  color: #007bff; 
  transform: translateX(10px);
}

.text-hover:hover p {
  color: black; 
  transform: translateX(10px); 
}

.section-header h2 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #000;
}

.section-header p {
    font-size: 1rem;
    color: #666;
}

.scroll-container {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 20px;
    padding-bottom: 15px;
} /* Carrusel */

.scroll-container::-webkit-scrollbar {
    display: none; 
}

.card-custom {
    flex: 0 0 auto; 
    width: 19.5vw;
    border: none;
    border-radius: 15px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.card-custom:hover {
    transform: translateY(-5px);
}

.card-custom img {
    width: 100%;
    height: 55vh;
    object-fit: cover;
}

.card-custom h5 {
    font-weight: bold;
    margin: 10px 0 5px;
}

.card-custom p {
    font-size: 0.9rem;
    color: #666;
}

.nav-arrows button {
    border: none;
    background: none;
    font-size: 2rem;
    color: #000;
    cursor: pointer;
}

.nav-arrows {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

/* Estilo para los simbolos de venta*/
.features-section .icon i {
    font-size: 5rem; 
    color: #000; 
    margin-bottom: 0.5rem; 
}

.features-section .feature-title {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
}

.features-section .feature-text {
    font-size: 0.9rem;
    line-height: 1.5;
    color: #6c757d;
}

/* Footer + popup suscripción*/
.footer {
    background-color: black; 
    color: #fff; 
    padding: 50px 20px;
    position: relative;
}

.footer a {
    color: #fff;
    text-decoration: none;
}

.footer a:hover {
    color: #9c7945;
    text-decoration: underline;
}

.footer-icons a {
    margin-right: 15px;
    font-size: 1.5rem;
    color: #fff;
}

.footer-icons a:hover {
    color: #9c7945;
}

.footer-bottom {
    border-top: 1px solid #D4AF37;
    padding-top: 20px;
    margin-top: 20px;
    font-size: 0.9rem;
    text-align: center;
}

.form-group{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

#map-container {
    width: 400px;
    height: 200px;
    border: 1px solid #ccc; 
    border-radius: 8px; 
    overflow: hidden; 
    margin-top: 15px; 
}

.payment-icon {
    width: 50px; 
    height: 50px; 
    object-fit: contain;
    margin-left: 7px; 
    margin-right: 7px; 
}

.payment-icon:first-child {
    margin-left: 0; 
}

/* Contenedor de la imagen en el popup */
.popup-image-container {
    width: 400px; 
    height: 400px; 
    overflow: hidden; 
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 10px; 
    border-bottom-left-radius: 10px;
    background-color: #f3f3f3; 
}

/* Imagen dentro del contenedor */
.popup-image-container img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}

/* Contenido del popup */
.popup-content {
    flex-grow: 1; 
    text-align: center;
}

/* Estilo general del modal */
.modal-content {
    width: 600px;
    display: flex;
    flex-direction: row; 
    border-radius: 10px; 
}
.modal-content .btn-close {
    position: absolute;
    top: 15px;
    right: 15px;
}



  




  


  

